<div class="lectures">
    <div *ngFor="let lecture of lectures" class="lecture">
        <h2>{{ lecture.title }}</h2>
        <div class="video" *ngIf="lecture.videoUrl">
            <iframe [src]="lecture.safeURL" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="text" *ngIf="lecture.data">
            <p>{{ lecture.data }}</p>
        </div>
    </div>
</div>

<div class="create-lecture">
    <h2>Create a New Lecture</h2>
    <form>
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" [(ngModel)]="newLecture.title" required>
      </div>
      <div class="form-group">
        <label for="video_url">Video URL:</label>
        <input type="text" id="video_url" name="video_url" [(ngModel)]="newLecture.videoUrl">
      </div>
      <div class="form-group">
        <label for="data">Lecture Text:</label>
        <textarea id="data" name="data" [(ngModel)]="newLecture.data"></textarea>
      </div>
      <button type="submit" (click)="createLecture()">Create Lecture</button>
    </form>
  </div>

  <div class="test-form">
    <form>
      <h2>Create Test</h2>
      
      <div *ngFor="let question of questions; let i = index" class="question-container" [ngClass]="{ 'active': currentQuestionIndex === i }">
        <div class="question">
          <label for="q{{ question }}">Question {{ question }}:</label>
          <input type="text" id="q{{ question }}" name="q{{ question }}" required>
  
          <div *ngFor="let option of ['Right answer', 'Wrong answer 1', 'Wrong answer 2', 'Wrong answer 3']; let j = index">
            <label>{{ option }}</label>
            <input type="text" id="r{{ question }}{{ j+1 }}" name="r{{ question }}{{ j+1 }}" required>
          </div>
        </div>
  
        <button *ngIf="currentQuestionIndex !== 0" (click)="moveToQuestion(currentQuestionIndex - 1)">Previous Question</button>
        <button *ngIf="currentQuestionIndex !== questions.length - 1" (click)="moveToQuestion(currentQuestionIndex + 1)">Next Question</button>
      </div>

      <hr>
  
      <button type="submit" (click)="createTest()">Create Test</button>
    </form>
  </div>